.brokerage,.footer-menu ul,.info i,.navigation ul li a,.position_title,.post-title i,.robo,.tab-control h2 {
    text-transform: uppercase;
}

.info a:hover,.old-articles a:hover,.paginations a,.paginations a:hover,.recentblog:hover a,.recentblog:hover img {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

.info-mini,.navigation ul li a,.old-articles h3,.post-content h1,.post-content p,.post-title h1,.post-title i,.recentblog,.subscribe-box p,.subscribe-text h1,.subscribe-text p {
    font-family: Lato,Sans-Serif;
}

.info,.info p,.info-mini,.post-title,.post-title i,.subscribe-text p {
    text-shadow: 0 0 20px rgba(0,0,0,.3);
}

.container-fluid.index {
    margin-right: -15px;
    margin-top: -10px;
    margin-bottom: -45px;
}

.navbar {
    background: #00C6BD;
}

#mainNav {
    background-color: #00C6BD;
    margin-bottom: 0 auto;
    height: 40px;
    width: auto;
    box-shadow: 0 0 5px #003C33;
    border: none;
}

.hardbacon-logo {
    padding-left: 20px;
    height: 55px;
    width: auto;
}

.navigation ul {
    list-style: none;
    padding-top: 15px;
    height: auto;
}

.navigation ul li {
    list-style: none;
    display: inline;
    padding-right: 30px;
    font-style: lighter;
}

.current-menu-parent a,.navigation .current_page_item a {
    font-size: 14px;
    font-weight: 900;
    text-shadow: 1px 1px 1px #fff;
}

.sub-menu .current_page_item a {
    background-color: #5ef0ea;
}

.info i,.info-mini i,.post-title i {
    font-style: normal;
}

.navigation ul li a {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
}

.info {
    position: relative;
    top: -135px;
}

@media(max-width:800px) {
    .navigation.open {
        margin-top: 45px;
        margin-left: 80%;
    }
}

@media(max-width:767px) {
    .navbar-toggle {
        display: block;
        margin-left: 150px;
        margin-bottom: 0;
    }

    #mainNav {
        padding-top: 5px;
        width: 101%;
    }

    #mainNav,.navigation {
        background-color: rgba(0,198,189,.95);
        z-index: 10;
        position: fixed;
    }

    .navigation ul li a,.navigation.open li {
        text-align: left;
        padding: 0;
        list-style: none;
        display: block;
    }

    .navigation {
        position: relative;
        margin-left: 50%;
        width: 50%;
        padding-top: 5px;
        transform: translateX(110%);
        -moz-transform: translateX(110%);
        -ms-transform: translateX(110%);
        -webkit-transform: translateX(110%);
        transition: transform .5s ease-in-out;
    }

    .navigation ul,.navigation.open ul {
        margin-left: -20px;
        margin-bottom: 0;
    }

    .navigation ul li {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .navigation li a {
        padding-left: 10px;
    }

    .navigation.open {
        margin-top: -9px;
        margin-left: 50%;
        transform: translateX(0);
        width: 50%;
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        position: absolute;
        box-shadow: -2px 2px 2px #000;
        border-top: none;
        padding: 0;
    }

    .navigation.open li {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .navigation.open li a {
        padding-left: 10px;
        padding-right: 50px;
    }

    .navigation ul li:hover,.navigation ul li:hover a {
        font-weight: 900;
        font-size: 15px;
        text-shadow: 5px 3px 10px;
        text-decoration: none;
    }

    .hardbacon-logo {
        padding-left: 0;
        position: relative;
        left: 30%;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar-nav {
        margin: 0 -20px;
    }
}

.oldblog-minithumbnails img,.recentblog img {
    transition: all .5s ease-in-out;
    object-fit: cover;
}

.info p,.info-mini {
    color: #fff;
}

.info i {
    padding-left: 33px;
    color: #FFF;
}

@media screen and (max-width:768px) {
    .container-fluid {
        display: flex;
        flex-flow: column;
    }

    .recentblog {
        order: 1;
    }

    .oldblog {
        order: 2;
    }

    .infoletter {
        order: 3;
    }
}

.footer-menu ul {
    margin: 0;
    padding-left: 0;
}

.footer-menu ul li {
    margin-right: 20px;
}

.footer-menu ul li,.social li {
    padding-left: 20px;
    display: inline;
}

p {
    margin: 0;
    padding: 0;
}

.home-container {
    margin-top: -25px;
    margin-bottom: -45px;
}

.container.infoletter {
    padding-left: 0;
}

.container.recentblog {
    padding-left: 0;
    padding-right: 0;
}

.infoletter {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 35px;
    height: 500px;
}

.info a:hover,.info-mini a:hover,.info-mini:hover {
    color: #d3d3d3;
}

.infoletter img {
    height: 500px;
    width: 100%;
}

.subscribe-text {
    margin-top: -460px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.subscribe-text h1 {
    font-weight: 100;
    font-size: 25px;
    padding: 5px;
    line-height: 1.5;
}

.recentblog {
    margin-top: 10px;
    margin-bottom: 50px;
    height: 500px;
    overflow: hidden;
}

.info p {
    padding-left: 30px;
    display: -webkit-box;
    height: auto;
    margin: 0 auto -10px;
    font-size: 38px;
    line-height: 1.1;
    -moz-line-clamp: 3;
    -webkit-line-clamp: 3;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.recentblog img {
    width: 100%;
    position: relative;
    height: 500px;
}

.recentblog:hover a,.recentblog:hover img {
    -moz-filter: brightness(75%);
    -webkit-filter: brightness(75%);
    transform: scale(1.1);
    color: #d3d3d3;
}

.oldblog {
    margin-top: 10px;
}

.oldblog-minithumbnails {
    margin: 0 0 10px;
    width: 100%;
    overflow: hidden;
}

.oldblog-minithumbnails img {
    width: 100%;
    height: 160px;
}

.oldblog-minithumbnails:hover img {
    -webkit-filter: brightness(90%);
    -moz-filter: brightness(90%);
    transform: scale(1.1);
}

.info-mini {
    transition: all .8s ease-in-out;
    margin-top: -170px;
    width: 90%;
    position: absolute;
    font-weight: 500;
    padding-left: 0;
    text-align: left;
}

.info-mini p {
    font-size: 22px;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 5px;
}

.info-mini i {
    font-size: 15px;
    padding-left: 10px;
    margin-top: -5px;
    font-weight: 300;
}

.tooltip-category {
    outline: 0;
    border: none;
    background: 0 0;
}

.tooltip-category.mobile {
    display: none;
}

.about-thumbnail,.newsletter-strap {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

@media(max-width:1024px) {
    .tooltip-category.mobile {
        display: inline;
        color: #00C6BD;
    }

    .info p {
        font-size: 30px;
    }
}

@media (max-width:800px) {
    .container.infoletter,.container.oldblog,.container.recentblog,.index,.infoletter img,.oldblog,.recentblog {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .info i,.info p {
        padding-left: 15px;
    }

    .oldblog-minithumbnails {
        margin: 0 0 10px;
        width: 100%;
    }

    .oldblog img {
        width: 100%;
    }

    .oldblog {
        margin-top: -40px;
    }

    .infoletter,.infoletter img {
        height: 300px;
    }

    .info {
        padding-top: 20px;
    }

    .info p {
        margin-top: 5px;
        font-size: 33px;
        text-overflow: none;
    }

    .subscribe-text {
        margin: 0;
        padding: 5px;
        position: relative;
        top: -300px;
    }

    .subscribe-text h1 {
        font-size: 24px;
        line-height: 1.1;
        padding: 5px;
    }

    .info-mini p {
        padding-left: 10px;
    }
}

.post-author h3,.post-author h4 {
    font-family: Lato,Sans-Serif;
    font-weight: 400;
}

img {
    height: auto;
}

.thumbnail {
    border: none;
    margin-top: 10px;
    margin-right: 20px;
    width: 450px;
    max-height: 450px;
}

.member-picture img,.post-author-picture img {
    -webkit-filter: grayscale(90%);
    -moz-filter: grayscale(90%);
    -ms-filter: grayscale(90%);
    max-height: 160px;
    max-width: 160px;
}

.about-thumbnail {
    background-image: url(http://img.photobucket.com/albums/v490/saonome/room_zpszjyfm31z.png);
    height: 600px;
    margin-top: -20px;
    background-position: 20%;
    color: #fff;
    text-align: center;
}

.about-thumbnail h1 {
    font-weight: 700;
    line-height: 50px;
    margin-right: 20%;
    margin-left: 20%;
    padding-top: 170px;
}

.about-thumbnail p {
    line-height: 30px;
    margin-right: 16%;
    margin-left: 16%;
    font-size: 18px;
    padding-top: 20px;
}

@media(max-width:768px) {
    .about-thumbnail {
        height: 650px;
    }

    .about-thumbnail h1 {
        font-size: 16px;
        padding-top: 60px;
    }

    .about-thumbnail p {
        font-size: 12px;
    }
}

.members {
    text-align: center;
    margin-bottom: 100px;
    height: 500px;
}

@media(max-width:1440px) {
    .members {
        height: 600px;
    }
}

@media(max-width:1028px) {
    .members {
        height: 650px;
    }
}

@media(max-width:768px) {
    .members {
        height: 550px;
    }
}

.member-picture img {
    border-radius: 50%;
}

.aboutdetail {
    font-size: 28px;
    margin-top: 80px;
    margin-bottom: 60px;
}

.about-members {
    padding-left: 10%;
    padding-right: 10%;
}

.member-name {
    font-size: 20px;
    color: #000;
    margin-top: 15px;
    padding-bottom: 2px;
}

.member-contents {
    height: 80%;
}

.member-description {
    font-size: 14px;
    text-align: justify;
    line-height: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.minithumbnails img {
    float: left;
    width: 160px;
    height: 155px;
    overflow: hidden;
    margin-right: 5px;
    margin-top: -2px;
    object-fit: cover;
}

.post-info {
    color: #707070;
    float: left;
    margin: auto;
}

.post-title {
    color: #fff;
    margin-top: -110px;
    margin-left: 110px;
}

.post-title h1 {
    font-size: 48px;
}

.post-title i {
    padding-left: 5px;
    font-size: 12px;
}

@media(max-width:1300px) {
    .post-title h1,.post-title i {
        margin-left: 15px;
    }

    .post-title h1 {
        margin-top: 20px;
        font-size: 50px;
    }
}

@media(max-width:992px) {
    .post-title h1 {
        padding-top: 10px;
        margin-left: 15px;
        font-size: 50px;
    }
}

@media(max-width:768px) {
    .navMenu {
        text-align: left;
    }

    .post-title {
        margin-top: -180px;
        margin-left: 0;
    }

    .post-title h1 {
        padding-top: 100px;
        font-size: 29px;
    }

    .post-title i {
        font-size: 20px;
    }
}

.post-author {
    padding: 50px;
    overflow: hidden;
    border: 1px solid #d3d3d3;
    margin: 30px 10% 30px 20%;
    width: 60%;
}

@media(max-width:1440px) {
    .post-author {
        width: 80%;
        margin-left: 10%;
    }
}

.post-author h4 {
    font-size: 16px;
    padding-right: 50px;
    line-height: 27px;
}

.post-content p,.subscribe-box p {
    line-height: 25px;
}

.post-author h3 {
    text-align: center;
    color: #c9c9c9;
    font-size: 17px;
    margin-top: 15px;
    padding-bottom: 2px;
}

.post-author-picture {
    float: left;
    display: block;
    position: relative;
    padding-right: 100px;
    margin-top: 15px;
    padding-bottom: 10px;
}

.post-author-picture .author-picture img {
    margin-left: 5px;
    border-radius: 50%;
}

@media(max-width:768px) {
    .post-author,.post-author-picture img {
        margin-left: 0;
    }

    .post-author h4 {
        font-size: 13px;
        padding-right: 0;
    }

    .post-author {
        text-align: center;
        width: 100%;
    }

    .post-author-picture {
        float: none;
        padding-right: 0;
    }

    .post-author h3 {
        padding-top: 15px;
        text-align: center;
        margin: 0 auto;
    }
}

.post-social-container {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
}

.position_title {
    font-size: 10px;
}

.post-author-social {
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

.post-thumbnail {
    box-shadow: 5px 5px 20px rgba(0,0,0,.2);
    width: 100%;
}

.post-thumbnail img {
    width: 100%;
    object-fit: cover;
    margin-top: -35px;
    margin-bottom: -100px;
    height: 700px;
}

.newsletter-strap,.post-content {
    margin-bottom: 50px;
}

@media(max-width:1200px) {
    .post-thumbnail img {
        height: 650px;
    }
}

@media(max-width:1080px) {
    .post-thumbnail img {
        height: 500px;
    }
}

@media(max-width:768px) {
    .post-thumbnail img {
        margin-top: 50px;
        height: 400px;
    }
}

.email-subscribe {
    width: 50%;
    margin-left: 13%;
}

@media(max-width:1200px) {
    .email-subscribe {
        width: 40%;
        margin-left: 50px;
    }
}

@media(max-width:920px) {
    .post-thumbnail img {
        height: 400px;
    }

    .email-subscribe {
        width: 70%;
        margin-top: -100px;
        margin-left: 15%;
    }
}

@media(max-width:768px) {
    .email-subscribe {
        margin-left: 10%;
        width: 80%;
        margin-top: 30px;
    }
}

.post-content h1 {
    padding-top: 125px;
    font-weight: 300;
    margin-left: -15px;
    font-size: 48px;
}

@media(max-width:768px) {
    .post-content h1 {
        font-size: 42px;
        margin-left: 7px;
        margin-right: 7px;
        margin-top: -40px;
        padding-right: 0;
    }
}

.post-content p {
    padding-right: 150px;
    text-align: justify;
    font-size: 16px;
}

#publish-date {
    font-size: 12px;
    padding-top: 120px;
    padding-bottom: 40px;
    color: #c1c1c1;
}

.post-section {
    margin-left: 120px;
}

@media(max-width:1200px) {
    .post-section {
        margin-left: 100px;
    }
}

@media(max-width:992px) {
    .post-section {
        margin-left: 70px;
    }
}

@media(max-width:768px) {
    .post-content p {
        font-size: 16px;
        padding-right: 10px;
    }

    .post-section {
        margin-top: -20px;
        margin-left: 0;
    }
}

.newsletter-strap {
    height: 500px;
    object-fit: cover;
    background-image: url(http://img.photobucket.com/albums/v490/saonome/bgrnd_zpsqjsognd1.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin-top: 100px;
}

.subscribe-box {
    font-family: Palanquin;
    height: auto;
    margin-top: 100px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgba(255,255,255,.95);
}

.subscribe-box p {
    font-family: Palanquin;
    font-size: 18px;
    text-align: center;
    padding-top: 60px;
}

@media(max-width:1600px) {
    .subscribe-box p {
        font-size: 20px;
    }
}

@media(max-width:1200px) {
    .subscribe-box p {
        font-size: 17px;
    }
}

@media(max-width:992px) {
    .subscribe-box p {
        padding-top: 15px;
        font-size: 20px;
    }
}

@media(max-width:768px) {
    .subscribe-box {
        margin-left: 5%;
        margin-right: 5%;
    }

    .subscribe-box p {
        padding-bottom: 10px;
        padding-top: 30px;
        line-height: 25px;
        font-size: 17px;
        margin-bottom: -10px;
    }
}

@media(max-width:450px) {
    .subscribe-box p {
        padding-top: 10px;
        font-size: 14px;
    }
}

@media(max-width:320px) {
    .subscribe-box p {
        font-size: 11px;
    }
}

.old-articles {
    margin: 30px 0 30px 5px;
    width: 100%;
}

.old-articles a {
    color: #fff;
}

.old-articles a:hover {
    color: #d3d3d3;
}

.old-articles .info-mini {
    padding-left: 10px;
    margin-top: -190px;
    font-size: 1.5em;
}

@media(max-width:768px) {
    .old-articles {
        margin-left: -30px;
    }

    .info-mini i {
        font-size: .7em;
        margin: 0;
        padding-left: 10px;
    }
}

.contacts,.contacts h3,.footer-menu ul li a {
    font-size: 14px;
}

.old-articles h3 {
    color: #000;
    text-align: left;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 5px;
}

.about-thumbnail,.btn-tab {
    font-family: Lato;
}

.post-minithumbnails {
    overflow: hidden;
    padding: 0 10px;
    text-align: center;
    margin-bottom: 10px;
}

.post-minithumbnails img {
    width: 100%;
    object-fit: cover;
    height: 200px;
    padding: 0;
    -webkit-filter: brightness(95%);
    -moz-filter: brightness(95%);
    transition: all .5s ease-in-out;
}

.post-minithumbnails:hover img {
    -webkit-filter: brightness(75%);
    -moz-filter: brightness(75%);
    transform: scale(1.1);
}

.post-minithumbnails .info-mini i {
    padding-left: 0;
}

@media(max-width:768px) {
    .old-articles {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .post-minithumbnails {
        margin: 0 0 10px;
        padding: 0;
    }
}

footer {
    font-family: Lato,Sans-Serif;
    box-shadow: 0 0 5px #003C33;
    background-color: #00C6BD;
    margin-top: 15px;
    color: #fff;
}

.landing-page .contents,.page404 .text404 {
    font-family: Lato,Sans-Serif;
    text-align: center;
}

.brokerage,.contacts,.robo,.tab-control h2 {
    font-family: Palanquin,Sans-Serif;
}

.social {
    margin-top: 40px;
    text-align: center;
}

.social img {
    width: 30px;
    height: 30px;
}

.footer-menu ul {
    line-height: 1.3;
    float: left;
    margin-top: 0;
}

.footer-menu ul li a {
    display: block;
    color: #FFF;
    font-weight: 400;
}

.footer-menu ul li a:hover {
    color: #EFEFEF;
}

@media(max-width:768px) {
    .footer-menu ul {
        display: none;
    }

    .social img {
        width: 35px;
        height: 35px;
        margin-left: 10px;
        padding-left: 0;
    }

    .social a {
        text-decoration: none;
    }
}

.social-medias {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.social-medias:hover {
    background-color: #fff;
    box-shadow: 1px 5px 5px #000;
}

.contacts {
    line-height: 25px;
    text-align: right;
}

.contacts h3 {
    font-weight: 600;
    margin-bottom: 10px;
}

@media(max-width:768px) {
    .contacts {
        margin-left: 0;
        text-align: center;
    }
}

.copyright {
    text-align: center;
    color: #efefef;
    font-size: 12px;
    padding: 10px;
}

.tab-control .container-fluid {
    margin: 0;
    width: auto;
}

.tab-control h2 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.member-picture {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.brokerage,.robo {
    font-size: 20px;
    background-color: #f5f5f5;
    height: 185px;
    border: none;
    color: #000;
    width: 49.5%;
    margin-top: 20px;
    margin-bottom: -42px;
    padding-top: 10px;
    transition: transform .5s ease-in-out;
}

.brokerage.selected,.robo.selected {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(23,102,82,1);
    transform: scale(1.03,1.03);
}

.brokerage img,.robo img {
    width: 100%;
}

.brokerage h3,.robo h3 {
    font-size: 16px;
    text-align: left;
    font-weight: 700;
}

.brokerage h5,.robo h5 {
    font-size: 14px;
    text-transform: none;
    line-height: 19px;
}

.brokeragetext {
    margin: 0;
    float: left;
}

.brokerage,.robotext {
    float: right;
}

.robotext {
    margin: 0;
}

.robo {
    float: left;
}

.img-border {
    border: 5px solid #000;
    border-radius: 50%;
    margin-top: 30px;
    padding: 15px;
    width: 100px;
    height: 100px;
    float: left;
}

.brokerage .img-border {
    margin-right: 30px;
    float: right;
}

.robo .img-border {
    margin-left: 20px;
    float: left;
}

.brokerage:hover,.robo:hover {
    background-color: #fff;
    cursor: pointer;
}

@media(max-width:1200px) {
    .brokerage h5,.robo h5 {
        font-size: 12px;
        line-height: 16px;
    }
}

@media(max-width:1080px) {
    .brokerage,.robo {
        width: 100%;
    }

    .brokerage h3,.robo h3 {
        font-size: 18px;
    }

    .brokerage h5,.robo h5 {
        font-size: 13px;
    }

    .robo {
        margin-top: 50px;
    }
}

@media(max-width:991px) {
    .brokerage h3,.robo h3 {
        font-size: 14px;
    }

    .brokerage h5,.robo h5 {
        line-height: 20px;
        font-size: 13px;
    }
}

@media(max-width:768px) {
    .brokerage,.robo {
        width: 100%;
        height: auto;
        padding: 15px;
    }

    .brokerage h5,.robo h5 {
        font-size: 10px;
    }

    .img-border {
        width: 85px;
        height: 85px;
    }

    .brokeragetext,.robotext {
        float: right;
        margin: 0;
        padding: 0;
    }

    .brokerage .img-border,.robo .img-border {
        float: left;
        margin: 20px 0 0;
    }
}

@media(max-width:400px) {
    .img-border {
        width: 60px;
        height: 60px;
    }

    .img-border img {
        margin-left: -3px;
        margin-top: -10px;
        width: 30px;
        height: 30px;
    }
}

.btn-details {
    color: #fff;
    margin-left: 20px;
    font-size: 10px;
    text-transform: uppercase;
    border: #00C6BD;
    height: 30px;
    width: 100px;
    margin-right: 15px;
    font-weight: 700;
    background-color: #00C6BD;
}

.aboutdetail,.member-name {
    text-align: center;
    font-weight: 200;
}

@media(max-width:1200px) {
    .btn-details {
        font-size: 13px;
        width: 90px;
    }
}

@media(max-width:992px) {
    .btn-details {
        font-size: 13px;
        height: 50px;
        margin-bottom: 30px;
        width: 150px;
    }
}

@media(max-width:768px) {
    .btn-details {
        font-size: 12px;
        margin-bottom: 30px;
        margin-top: 1px 0;
    }
}

.btn-details:hover {
    color: #fff;
    background: #6ad4cf;
}

.btn-subscribe:hover {
    background-color: #eaeaea;
}

.email-box {
    text-align: center;
    color: #fff;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 30px;
    background: 0 0;
    border: 5px solid #fff;
}

.subscribe-box .btn-subscribe {
    width: 20%;
    margin-left: 2%;
    margin-right: auto;
    margin-top: -5px;
}

.btn-subscribe {
    color: #fff;
    width: 60%;
    background-color: #00C6BD;
    border: none;
    height: 40px;
    margin-top: -30px;
}

.btn-subscribe:hover {
    color: #000;
}

@media(max-width:1300px) {
    .subscribe-box .btn-subscribe {
        width: 25%;
        margin-left: 35px;
    }
}

@media(max-width:858px) {
    .aboutdetail,.member-description,.member-name,.position_title,td,th {
        font-family: Lato,Sans-Serif;
    }

    .subscribe-box .btn-subscribe {
        width: 80%;
        margin-left: 40px;
    }
}
    @media(max-width:768px) {
    .subscribe-box .btn-subscribe {
        width: 80%;
        margin-top: 20px;
        margin-left: 10%;
        height: 35px;
    }

    .author {
        margin-left: 30px;
    }
}

.arrow-custom {
    width: 70px;
    height: 70px;
    border: 3px solid #d3d3d3;
    margin-left: -22px;
    margin-top: -45px;
    border-radius: 50%;
}

table {
    table-layout: fixed;
}

td,th {
    overflow: hidden;
    width: 0;
}

td p {
    padding-top: 3px;
}

.position_title {
    color: #bfbfbf;
}

#return-to-top {
    display: none;
}

@media (max-width:767px) {
    #return-to-top {
        position: fixed;
        z-index: 999;
        bottom: 60px;
        right: 20px;
        background: #000;
        background: rgba(0,0,0,.7);
        width: 50px;
        height: 50px;
        text-decoration: none;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        border-radius: 35px;
        display: none;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

    #return-to-top i {
        color: #fff;
        margin: 0;
        position: relative;
        left: 16px;
        top: 13px;
        font-size: 19px;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

    #return-to-top:hover {
        background: rgba(0,0,0,.9);
    }

    #return-to-top:hover i {
        color: #fff;
        top: 5px;
    }
}

.loader {
    top: 50%;
    left: 50%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #00C6BD;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btnshare a {
    margin-top: 500px;
}    


.landing-page .contents {
    position: absolute;
    padding-top: 280px;
    height: auto;
    color: #fff;
    width: 100%;
    font-weight: 100;
}

.landing-page p {
    margin-top: -80px;
    font-size: 60px;
}

.landing-page h3 {
    font-size: 20px;
}

.container.landing-page {
    padding: 0;
    margin: 0;
}

.contents .email-box {
    margin-top: 20px;
    background-color: transparent;
    border: 5px solid #fff;
    font-size: 28px;
    width: 40%;
    color: #fff;
}

.contents .btn-subscribe {
    margin-top: 0;
    width: 40%;
    height: 80px;
}

.landing-page img {
    object-fit: cover;
    margin-top: -20px;
    margin-bottom: -15px;
    width: 100%;
    height: 800px;
}

@media (max-width:768px) {
    .landing-page p {
        padding-top: 0;
        font-weight: 700;
        font-size: 4rem;
    }

    .landing-page h3 {
        font-size: 2rem;
        line-height: 30px;
    }

    .contents .btn-subscribe {
        height: 40px;
    }
}

.page404 {
    margin-top: 100px;
    padding-bottom: 100px;
}

.page404 .text404 {
    font-size: 48px;
    font-weight: lighter;
}

.article-page {
    clear: both;
    height: auto;
    margin-top: -20px;
    margin-bottom: -20px;
    padding-top: 20px;
}

.article-blog {
    background: #fff;
    text-align: center;
    margin-left: -15px;
    margin-bottom: 20px;
    overflow: hidden;
    height: 345px;
    box-shadow: 0 0 5px rgba(188,188,188,.8);
}

.blog-blocks {
    height: 710px;
}

@media(max-width:1024px) {
    .blog-blocks {
        height: auto;
    }
}

.article-blog .blog {
    height: 200px;
}

.article-blog .title {
    width: 100%;
    height: 0;
}

.article-blog .title p {
    font-family: Palanquin,Sans-Serif;
    color: #fff;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    top: -70px;
    text-align: left;
    font-weight: 700;
    font-size: 19px;
    text-shadow: 0 0 5px #000;
}

.blogs {
    padding: 0 0 0 15px;
}

.article-blog img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
}

.article-blog a:hover,.article-blog img:hover {
    text-decoration: none;
    color: #d2d2d2;
    -webkit-filter: brightness(80%);
    -moz-filter: brightness(80%);
}

.article-blog .subinfo {
    font-family: Lato,Sans-Serif;
    font-weight: lighter;
    height: 120px;
    overflow: hidden;
    position: relative;
    padding: 15px;
    font-size: 13px;
    text-align: left;
}

.article-blog .bloginfo {
    font-weight: 300;
    position: relative;
    color: #afafaf;
    font-size: 12px;
    font-family: Palanquin,Sans-serif;
}

.article-blog .bloginfo .author {
    margin-left: 0;
    padding-left: 15px;
}

.newsletter {
    padding-left: 0;
    padding-right: 15px;
    height: 700px;
}

.newsletter .newsletter-text {
    font-family: Lato,Sans-Serif;
    font-size: 32px;
    line-height: 45px;
    text-align: center;
    position: relative;
    top: -620px;
    color: #fff;
}

.paginations,ul .sub-menu li {
    font-family: Palanquin,Sans-Serif;
    letter-spacing: 0;
    top: 10px;
}

.newsletter img {
    object-fit: cover;
    width: 100%;
    height: 710px;
}

.newsletter p {
    padding-bottom: 20px;
}

.newsletter .sib-default-btn {
    font-size: 20px;
    line-height: 0;
}

.paginations {
    position: relative;
    margin-bottom: 30px;
}

.paginations a {
    font-size: 18px;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 5px;
    font-weight: 600;
    color: #000;
}

.paginations span {
    font-size: 18px;
    color: #00C6BD;
}

.comparator-header {
    height: auto;
    padding: 5% 20% 0;
}

.comparator-name {
    font-family: Palanquin,Sans-Serif;
    font-size: 72px;
    font-weight: 100;
    text-transform: uppercase;
}

@media(max-width:768px) {
    .blog-blocks {
        margin-top: 70px;
    }

    .comparator-header {
        padding: 50px 0 0;
    }

    .comparator-name {
        font-size: 48px;
    }

    .comparator-information {
        font-size: 15px;
    }
}

.comparator-information {
    font-family: Palanquin,Sans-Serif;
    font-size: 20px;
    line-height: 1.5;
}

.comparator {
    padding: 5%;
    margin: 0;
}

.comparator-border {
    padding: 7px;
    box-shadow: 10px 10px 15px rgba(188,188,188,.8);
    background: #00C6BD;
}

.comparator-border .comparator-table {
    margin: 0;
}

.comparator-border .btn-details {
    margin-right: 20px;
}

.sub-menu {
    background-color: #00C6BD;
}

ul .sub-menu {
    max-height: 0;
    margin-left: -40px;
    padding: 0;
    overflow: hidden;
    z-index: 1000;
    position: absolute;
    transition: all .6s ease-in-out;
}

ul .sub-menu li {
    display: block;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    position: relative;
    text-align: center;
    padding: 0;
    list-style: none;
}

ul .sub-menu li a {
    display: block;
    padding: 25px;
    text-align: center;
}

ul .sub-menu li:hover {
    background: #5ef0ea;
}

.menu-item-has-children:hover .sub-menu {
    max-height: 500px;
    margin-top: 6px;
}

@media(max-width:800px) {
    .navigation.open ul .menu-item-has-children .sub-menu {
        position: relative;
        margin-left: 0;
    }

    .navigation.open ul.menu-item-has-children .sub-menu li {
        padding: 0;
        margin: 0;
    }

    ul .sub-menu li a {
        margin-top: 0;
    }

    .navigation.open .sub-menu li {
        padding: 0;
    }
}

.atss.atss-right a {
    width: 30px;
}

@media(max-width:425px) {
    .comparator-name {
        margin: 0;
    }

    .comparator-information {
        font-size: 14px;
    }
}

a {
    color: #ff8600;
}